.p-gallery__images {
    margin: 10px 50px;

    img {
        transition: 1s;
        padding: 15px;
        width: 200px;

        &:hover {
            filter: grayscale(100%);
            transform: scale(1.1);
        }
    }
}

