.p-gallery__images {
    margin: 10px 50px;

    img {
        transition: transform 1s, filter 1s;
        padding: 15px;
        width: 200px;

        &:hover {
            filter: grayscale(100%);
            transform: scale3d(1.1, 1.1, 1.1);
        }
    }
}

